@import "themes/catppuccin-mocha.css";

* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

/* ---------------------------- */
/* Modules                      */
/* ---------------------------- */

.module {
  margin: 10px 5px 0 5px;
  padding: 6px 18px;
  border-radius: 10px;
  opacity: 0.95;
  background-color: @crust;
  color: @mauve;
}

.modules-left:first-child {
  margin-left: 8px;
}

.modules-right:last-child {
  margin-right: 8px;
}

#clock {
  color: @maroon;
}

#pulseaudio {
  color: @blue;
}

#network {
  color: @yellow;
}

#battery {
  color: @green;
}

#cpu {
  color: @lavender;
}

#memory {
  color: @peach;
}

#custom-arch {
  color: @sky;
}

#custom-vpn {
  color: @lavender;
}

/* ---------------------------- */
/* Workspaces                   */
/* ---------------------------- */

#workspaces {
  padding: 0;
}

#workspaces button {
  margin: 0;
  padding: 0 5px;
  border-radius: 0;
  color: @mauve;
}

#workspaces button:first-child {
  border-radius: 10px 0 0 10px;
}

#workspaces button:last-child {
  border-radius: 0 10px 10px 0;
}

#workspaces button.active,
#workspaces button.focused,
#workspaces button:hover {
  background-color: @mauve;
  color: @crust;
}

#workspaces button.urgent {
  background-color: @red;
}
