@import "themes/catppuccin-mocha.css";

* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @crust;
  color: @mauve;
}

/* ---------------------------- */
/* Modules                      */
/* ---------------------------- */

.module {
  padding: 8px 18px;
}

.modules-left:first-child {
  margin-left: 8px;
}

.modules-right:last-child {
  margin-right: 8px;
}

#clock {
  color: @maroon;
}

#pulseaudio {
  color: @blue;
}

#network {
  color: @yellow;
}

#battery {
  color: @green;
}

#cpu {
  color: @lavender;
}

#memory {
  color: @peach;
}

#custom-arch {
  color: @sky;
}

#custom-vpn {
  color: @lavender;
}

/* ---------------------------- */
/* Workspaces                   */
/* ---------------------------- */

#workspaces {  
}

#workspaces button {
  font-size: 0;
  margin: 0 2px;
  padding: 0;
  color: @mauve;
  background-color: transparent;
}

#workspaces button.active,
#workspaces button.focused,
#workspaces button:hover {
}
